<!DOCTYPE html>
<html>
<head>
  <title> <%= t :brand_title %> </title>
  <%= stylesheet_link_tag    "application", media: "all"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
    <% end %>
<% end %>

<div class="navbar">
  <div class="navbar-inner">
    <a href="<%= root_path %> " class="brand">
      <%= t :menu_brand_name %> <sub> alpha </sub>
    </a>
    <ul class="nav">
      <li> <%= link_to t(:menu_bar_author), "#" %> </li>
      <li> <%= link_to t(:menu_bar_poem), poems_path %> </li>
      <li> <%= link_to t(:menu_bar_glossary), "#" %> </li>
      <li> <%= link_to t(:menu_bar_contact_us), "#" %> </li>
      <li> <%= link_to t(:menu_bar_about_us), "#" %> </li>
    </ul>

    <ul class="nav" style="float: right;">
      <li>
        <%= link_to("https://www.facebook.com/daasasanchaya", target: "_blank", class: "social-nav-right ") do %>
            <i class="fa fa-facebook fa-2x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to("http://twitter.com/daasasanchaya" , target: "_blank",class: "social-nav-right ") do %>
            <i class="fa fa-twitter fa-2x"></i>
        <% end %>
      </li>
    </ul>

  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<div class="footer">
  <div class="navbar-inner">
    <div class="copy-right">
      © 2014  <a href="http://kannada.sanchaya.net" target="_blank"> ಕನ್ನಡ ಸಂಚಯ  </a>| ಸಾಹಿತ್ಯ ಸಂಶೋಧನೆ ಹಾಗೂ ಅಧ್ಯಯನ ವೇದಿಕೆ
    </div>
  </div>
</div>
</body>
</html>
